<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <div class="sidebar-item">
      <p>
          Junyong Lee / dyong
      </p>
      <p>
          <a class="sidebar-icon" href="mailto:{{ site.author.email }}">{% include email-icon.svg %}</a>
          <a class="sidebar-icon" href="{{ site.author.github }}">{% include github-icon.svg %}</a>
          <a class="sidebar-icon" href="{{ site.author.linkedin }}">{% include linkedin-icon.svg %}</a>
      </p>
      <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      </p>
  </div>
</div>
